html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #000000;
    position: relative;
    line-height: 2;
    min-width: 320px;
}

#container {
    position: relative;
    background-color: #bcbcbc;
    width: 95vw;
    height: 85vh;
    margin: auto;
    padding: 15px;
}

u p {
    font-size: 2.6rem;
    text-align: center;
}

svg {
    position: relative;
    display: block;
    margin: auto;
    background-color: #a7a8c1;
    width: 100%;
    border: 1px solid black;
/*    margin-right: 0;*/
}

path {
    stroke: #d86400;
    stroke-width: 0.5px;
}

#home {
    position: relative;
    background-color: #605050;
    border-radius: 15px;
    min-width: 60px;
    min-height: 60px;
    z-index: 999;
    top: 5%;
    left: 3%;
}

.fa-home {
    color: white;
    padding: 10px;
}

#zoom_in {
    position: relative;
    background-color: #605050;
    border-radius: 15px;
    min-width: 60px;
    min-height: 60px;
    z-index: 999;
    top: 15%;
    left: 3%;
}

.fa-plus {
    color: white;
    padding: 10px 13px;
}

#zoom_out {
    position: relative;
    background-color: #605050;
    border-radius: 15px;
    min-width: 60px;
    min-height: 60px;
    z-index: 999;
    top: 25%;
    left: 3%;
}

.fa-minus {
    color: white;
    padding: 10px 13px;
}

#legend {
    position: absolute;
    padding: 1.5rem 0 0 1rem;
    background-color: #605050;
    border-radius: 30px;
    min-width: 200px;
    z-index: 999;
    bottom: 25px;
    left: 40px;
}

li.key {
    border-top-width: 20px;
    border-top-style: solid;
    font-size: 2rem;
    width: 100%;
    list-style-type: none;
    display: inline;
    color: white;
}

#buttons {
    position: absolute;
    top: 85px;
}

ul li {
    margin-bottom: 20px;
    list-style-type: none;
}

#togglebuttons {
    position: absolute;
    display: flex;
    top: 120px;
    left: 20%;  
}


input[type="button"]{
    
   padding: 10px 60px;
    border-right-color: beige;
    border-width: 2px;
    border-style: solid;
    border-color: #605050;
    border-collapse:collapse;
    margin-right: -2px;
}


input[type="button"]:focus{
    
   background-color: #605050;
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    transition: color 1s;
    transition: background-color 1s;
}





